@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500&display=swap");
h1 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 600;
}

h5, span {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-weight: bold;
}

img.brand {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

img.reversed {
  transform: rotate(180deg);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-link {
  text-decoration: none !important;
  color: black !important;
}

.car-card {
  transition-duration: 0.3s;
}
.car-card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1) !important;
}

.card {
  font-family: "Poppins", sans-serif;
}
.card img {
  transition-duration: 0.3s;
  image-resolution: 10dpi;
  image-rendering: crisp-edges;
}
.card .card-text {
  font-family: "Poppins", sans-serif;
}
.card .card-title {
  font-weight: bold;
}
.card.category-card:hover .card-title {
  text-decoration: underline;
}
.card:hover img {
  transform: scale(1.05);
  opacity: 0.7;
}

.wallpaper {
  background: url("../../../static/img/wallpaper.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

header a.nav-link, header a.btn, header input {
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=mainStyle.css.map */
