.rating-div i {
  font-size: 1.4rem;
}

.rating-div .rating-digit {
  font-size: 1.2rem;
}

.review-author {
  font-size: 14px;
  font-weight: 500;
}

.review-date {
  font-size: 14px;
}

.review-text {
  font-size: 16px;
}

/*# sourceMappingURL=reviewStyle.css.map */
